{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
        { "item" : "binarizer" },
        { "item" : "bullettrap" },
        { "item" : "comparator" },
        { "item" : "operator" },
        { "item" : "counter" },
        { "item" : "drain" },
        { "item" : "endlesslava" },
        { "item" : "endlesspoison" },
        { "item" : "endlesswater" },
        { "item" : "flametrap" },
        { "item" : "lightsensor" },
        { "item" : "linkdisplay" },
        { "item" : "linkdisplaysmall" },
        { "item" : "liquidsensor" },
        { "item" : "memory" },
        { "item" : "quickwallbutton" },
        { "item" : "rockettrap" },
        { "item" : "scanner" },
        { "item" : "tempsensor" },
        { "item" : "windsensor" },
        { "item" : "wiredtarget" }
    ]
  }
}
